body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.galery {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width:900px) {
    .galery {
        justify-content: center;
    }
}