.image-container {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
}

.image-container-img {
    width: 180px;
    height: 180px;
    padding: 10px;
    object-fit: cover;
}

.overlay {
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }