.content-wrapper {
    width: 100%;
    margin-top: -120px;
    justify-content: center;
    display: flex;
  }
  
  .content {
      color: black !important;
    width: calc(80% - 40px);
    padding: 40px;
    background-color: white;          
    box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
  }

  @media screen and (max-width:750px) {
      .content-wrapper {
          margin-top: -60px;
      }
  }